@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">

    <div class="col">

        <div class="pb-4">
            <h4 style="color:#808080"><b>Log Dashboard</b></h4>
        </div>

        <partial name="_LogList" />

    </div>
</div>

<script>
    $(document).ready(() => {
         
        $("#LogTable").DataTable();

    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}